// Importar variáveis globais
@use '../styles/variables' as *;

.main-content {
  margin-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height});

  @media (max-width: $breakpoint-md) {
    margin-top: $navbar-height-mobile;
    min-height: calc(100vh - #{$navbar-height-mobile});
  }
}

